<mat-grid-list cols="2" rowHeight="5.25rem">
  <mat-grid-tile>
    <a [routerLink]="['/listas']">Listas</a>
  </mat-grid-tile>
  <mat-grid-tile> <a [routerLink]="['/mat-expansion']">Mat expansion e accordion</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/card']">Material card</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/tabs']">Material tabs</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/stepper']">Material Stepper</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/forms']">Material forms</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/tooltip']">Material tooltip</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/snackbar']">Material snackbar</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/dialogs']">Material dialogs</a></mat-grid-tile>
</mat-grid-list>
