<!-- sem accordion -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Fundamentals
    </mat-panel-title>
    <mat-panel-description>
      Total duration: 3 hours
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the panel content. Add course details.</p>
  <mat-action-row>
    <button mat-button>Comprar</button>
  </mat-action-row>
</mat-expansion-panel>

<!-- com accordion -->
<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals - Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-button>Comprar</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals - Accordion 2
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-button>Comprar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
